# Libraries

In [90]:
import pandas as pd 
from itertools import combinations
from collections import Counter

# Read data file

In [91]:
file_name = r'C:\Users\Maryam\Desktop\Job applications\Portfolio\DataSets\ecommerce.csv'
df = pd.read_csv(file_name, encoding='latin-1')

C:\Users\Maryam\AppData\Local\Temp\ipykernel_23268\2270299057.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name, encoding='latin-1')

# Data Exploration and Preprocessing

## Cloumns list

In [92]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

## Column data type

In [93]:
columns_title = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country']
      
for column in columns_title:
    column_type = df[column].dtype
    print(f"Data type of column '{column}: {column_type}")

Data type of column 'InvoiceNo: object
Data type of column 'StockCode: object
Data type of column 'Description: object
Data type of column 'Quantity: int64
Data type of column 'InvoiceDate: object
Data type of column 'UnitPrice: float64
Data type of column 'CustomerID: float64
Data type of column 'Country: object

## Number of rows and columns

In [94]:
df.shape

(541909, 8)

## Find missing data in selected columns

In [95]:
missing_customers = df['CustomerID'].isnull().sum()
missing_invoice = df['InvoiceNo'].isnull().sum()
print(f"Number of missing values in 'customerID' column:{missing_customers}")
print(f"Number of missing values in 'InvoiceNo' column:{missing_invoice}")

Number of missing values in 'customerID' column:135080
Number of missing values in 'InvoiceNo' column:0

## Remove the letter C from InvoiceNo column

In [96]:
df['InvoiceNo'] = df['InvoiceNo'].str.lstrip('C')

## Show the top 5 rows of the dataframe

In [97]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,12/09/2011 09:27,2.08,16446.0,United Kingdom
1,541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,1/18/2011 10:17,1.04,12346.0,United Kingdom
2,556690,23005,printing smudges/thrown away,-9600,6/14/2011 10:37,0.00,NaN,United Kingdom
3,556691,23005,printing smudges/thrown away,-9600,6/14/2011 10:37,0.00,NaN,United Kingdom
4,536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,12/02/2010 14:23,0.03,15838.0,United Kingdom

## Show the button 5 rows of the dataframe

In [98]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,NaN,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,4800,10/27/2011 12:26,0.21,12901.0,United Kingdom
541905,NaN,37413,NaN,5568,1/28/2011 12:03,0.00,NaN,United Kingdom
541906,NaN,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,11/25/2011 15:57,0.00,13256.0,United Kingdom
541907,NaN,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,1/18/2011 10:01,1.04,12346.0,United Kingdom
541908,NaN,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,12/09/2011 09:15,2.08,16446.0,United Kingdom

## Extract the numerical values from Invoice No column

In [99]:
# Split the 'InvoiceNo' column and extract numeric values only
df['InvoiceNo_numeric'] = df['InvoiceNo'].str.extract('(\d+)')

# Check the first few rows to verify the changes
print(df[['InvoiceNo', 'InvoiceNo_numeric']].head(10))

  InvoiceNo InvoiceNo_numeric
0    581484            581484
1    541433            541433
2    556690            556690
3    556691            556691
4    536757            536757
5    556687            556687
6    546152            546152
7    573596            573596
8    566768            566768
9    565304            565304

## Show the list of columns including the additional one

In [100]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'InvoiceNo_numeric'],
      dtype='object')

## Show dataframe information

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   InvoiceNo          131072 non-null  object
 1   StockCode          541909 non-null  object
 2   Description        540455 non-null  object
 3   Quantity           541909 non-null  int64
 4   InvoiceDate        541909 non-null  object
 5   UnitPrice          541909 non-null  float64
 6   CustomerID         406829 non-null  float64
 7   Country            541909 non-null  object
 8   InvoiceNo_numeric  131072 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 37.2+ MB

## Show the updated structure of the dataframe

In [102]:
df.shape

(541909, 9)

## Show statistical quanitities of the numerical columns (horizontal view)

In [103]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,541909.0,9.552250,218.081158,-80995.00,1.00,3.00,10.00,80995.0
UnitPrice,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0
CustomerID,406829.0,15287.690570,1713.600303,12346.00,13953.00,15152.00,16791.00,18287.0

## Show statistical quanitities of the numerical columns (verical view)

In [104]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

## Show the number of missing values in each column

In [105]:
df.isnull().sum()

InvoiceNo            410837
StockCode                 0
Description            1454
Quantity                  0
InvoiceDate               0
UnitPrice                 0
CustomerID           135080
Country                   0
InvoiceNo_numeric    410837
dtype: int64

## Fill in the missing cells with zero

In [106]:
df.fillna(0, inplace=True)

## Check the missing values again

In [107]:
df.isnull().sum()

InvoiceNo            0
StockCode            0
Description          0
Quantity             0
InvoiceDate          0
UnitPrice            0
CustomerID           0
Country              0
InvoiceNo_numeric    0
dtype: int64

## Find the number of unique values in each column

In [108]:
df.nunique()

InvoiceNo            13840
StockCode             4070
Description           4224
Quantity               722
InvoiceDate          23260
UnitPrice             1630
CustomerID            4373
Country                 38
InvoiceNo_numeric    13840
dtype: int64

## Change the type of InvoiceNo_numeric from object to float

In [109]:
df['InvoiceNo_numeric'] = df['InvoiceNo_numeric'].astype(float)

## Create a filtered dataframe that exculdes the rows with unavailable data (zero values)

In [110]:
filtered_df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0) & (df['CustomerID'] > 0) & (df['InvoiceNo_numeric'] > 0)]

## Show the strcture of the new dataframe

In [111]:
filtered_df.shape

(74073, 9)

In [112]:
Deleted_rows = 541909 - 74073
print(f'By filtering the dataframe, {Deleted_rows} entries have been eliminated')

By filtering the dataframe, 467836 entries have been eliminated

## Delete duplicated rows

In [113]:
filtered_df.drop_duplicates()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceNo_numeric
11028,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,4/15/2011 9:27,0.001,13952.0,United Kingdom,550193.0
11029,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,7/26/2011 10:13,0.001,15618.0,United Kingdom,561226.0
11030,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,9/25/2011 14:58,0.001,16198.0,United Kingdom,568200.0
11031,568375,BANK CHARGES,Bank Charges,1,9/26/2011 17:01,0.001,13405.0,United Kingdom,568375.0
11033,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,11/25/2011 11:41,0.060,12748.0,United Kingdom,578757.0
...,...,...,...,...,...,...,...,...,...
196022,568346,23263,SET OF 3 WOODEN HEART DECORATIONS,2,9/26/2011 15:28,2.500,14096.0,United Kingdom,568346.0
196027,571441,23263,SET OF 3 WOODEN HEART DECORATIONS,2,10/17/2011 13:31,2.500,14096.0,United Kingdom,571441.0
196605,536381,47580,TEA TIME DES TEA COSY,2,12/01/2010 09:41,2.550,15311.0,United Kingdom,536381.0
196606,536401,21587,COSY HOUR GIANT TUBE MATCHES,2,12/01/2010 11:21,2.550,15862.0,United Kingdom,536401.0
196607,536520,22588,CARD HOLDER GINGHAM HEART,2,12/01/2010 12:43,2.550,14729.0,United Kingdom,536520.0

# Q1: What are the categories that have the highest income?

## Create a new column called Total_Sales and set its value to 10 for now

In [114]:
filtered_df.loc[:,'Total_Sales'] = 10

C:\Users\Maryam\AppData\Local\Temp\ipykernel_23268\4290052485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.loc[:,'Total_Sales'] = 10

## Make sure the new column has been added to the dataframe

In [115]:
filtered_df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'InvoiceNo_numeric',
       'Total_Sales'],
      dtype='object')

## Find the value of Total Sales for each transaction

In [116]:
filtered_df.loc[:,'Total_Sales'] = filtered_df['Quantity']*filtered_df['UnitPrice']

## Check all the rows has a value for Total_Sales

In [117]:
print(filtered_df['Total_Sales'].isnull().sum())

0

## Check the type of the Total_Sales column

In [118]:
filtered_df['Total_Sales'].dtype

dtype('float64')

## Find the sum of sales and the number of unique categories

In [119]:
Sales_by_category=filtered_df.groupby('Description')['Total_Sales'].sum()
print(len(Sales_by_category))

2606

## Show the top 20 categories with the highest sales.

In [120]:
sorted_categories=Sales_by_category.sort_values(ascending=False)
sorted_categories.head(20)

Description
Manual                                 49317.11
POSTAGE                                18274.71
DOTCOM POSTAGE                         11906.36
CARRIAGE                                6650.00
REGENCY CAKESTAND 3 TIER                6295.26
LOVE SEAT ANTIQUE WHITE METAL           3735.00
BREAD BIN DINER STYLE IVORY             3083.68
RUSTIC  SEVENTEEN DRAWER SIDEBOARD      2805.00
VINTAGE RED KITCHEN CABINET             2775.00
SET/4 WHITE RETRO STORAGE CUBES         2636.70
ENAMEL BREAD BIN CREAM                  2511.21
WHITE WOOD GARDEN PLANT LADDER          2338.31
VINTAGE BLUE KITCHEN CABINET            2185.00
BREAD BIN DINER STYLE RED               2152.65
RED RETROSPOT CAKE STAND                1838.60
CLASSIC METAL BIRDCAGE PLANT HOLDER     1707.96
WOODEN CROQUET GARDEN SET               1689.48
IVORY KITCHEN SCALES                    1630.15
SWEETHEART CAKESTAND 3 TIER             1572.10
3 TIER CAKE TIN GREEN AND CREAM         1463.56
Name: Total_Sales, dtype: float64

In [121]:
## Comment: 
## this information can be used to increase the company profit. This can be achieved by focusing the marketing strategy to promot the hight-profit items. Moreover, 
## adjusting the prices of these categories during high demand sessions can contribute also to increasing profitability. More resources should also be allocated to these 
# categories in terms of shelf space, marketing budget and staff attention. Other aspects that can be enhanced based on these findings are the supplier relationships, as it is 
# crucial in ensuring the consistency of supply, and customer experience by ensuring the availability and quality of high-profit items.

## Show the 20 lowest income categories

In [122]:
sorted_categories.tail(20)

Description
CHINESE DRAGON PAPER LANTERNS         0.420
FEATHER PEN,HOT PINK                  0.390
PAPERWEIGHT SAVE THE PLANET           0.390
PAPERWEIGHT KINGS CHOICE              0.390
ACRYLIC JEWEL ICICLE, BLUE            0.380
PENS ASSORTED FUNNY FACE              0.380
PORCELAIN BUDAH INCENSE HOLDER        0.300
LETTER "I" BLING KEY RING             0.290
WORLD WAR 2 GLIDERS ASSTD DESIGNS     0.290
LETTER "F" BLING KEY RING             0.290
CINNAMON SCENTED VOTIVE CANDLE        0.290
FOOD/DRINK SPONGE STICKERS            0.210
GREETING CARD, STICKY GORDON          0.190
BLACK FEATHER CHRISTMAS DECORATION    0.190
PINK CRYSTAL SKULL PHONE CHARM        0.190
SET/6 POSIES PAPER CUPS               0.190
HAPPY BIRTHDAY CARD STRIPEY TEDDY     0.190
HOUSE SHAPE PENCIL SHARPENER          0.120
LETTER SHAPE PENCIL SHARPENER         0.060
PADS TO MATCH ALL CUSHIONS            0.003
Name: Total_Sales, dtype: float64

In [123]:
## Comment: 
## This information can be used to eliminate some products as they are not contributing significantly to the income or reduce the level of resources allocated to them

# Q2: Which country generate the highest income?

## Find the list of all countries in the dataframe

In [124]:
List_of_country = df['Country'].unique()
print(len(List_of_country))

38

## Find the total sales per country

In [125]:
Sales_by_country=filtered_df.groupby('Country')['Total_Sales'].sum().sort_values(ascending=False)

## Find the top 10 countries that generate the highest income

In [126]:
Sales_by_country.head(10)

Country
United Kingdom    293715.624
France             12687.650
Singapore          12223.900
EIRE                9913.660
Germany             6707.540
Portugal            4841.030
Spain               1876.880
Norway              1871.200
Cyprus              1153.240
Italy                947.850
Name: Total_Sales, dtype: float64

## Find the 10 countries that generate the lowest income

In [127]:
Sales_by_country.tail(10)

Country
Israel                  214.65
Poland                  208.70
Denmark                  88.95
Japan                    51.47
European Community       40.20
Malta                    40.00
Czech Republic           40.00
Greece                   39.95
United Arab Emirates     37.50
USA                      25.30
Name: Total_Sales, dtype: float64

In [128]:
# Comment
# These results can be used to enhance the delivery services in the countries with the highest level of sales

# Q3: Which customer placed the highest number of orders? who generated the highest income?

In [129]:
# Create two dataframe for the number of orders and generated sales for each customer 
Orders_by_customer=filtered_df.groupby('CustomerID').size()
Amount_by_customer = filtered_df.groupby('CustomerID')['Total_Sales'].sum()

# Reset the index of the Series and converts it into a DataFrame 
Number_df = Orders_by_customer.reset_index(name='NumOrder')
Totals_df = Amount_by_customer.reset_index(name='Total_Sales')

# Merge the two dataframe in a new one called Customer 
Customers_df = pd.merge(Number_df, Totals_df, on='CustomerID', how='left')

# Find the index of the customers with the higest number of orders and sales 
customer_with_most_orders = Customers_df.loc[Customers_df['NumOrder'].idxmax()]
customer_with_higest_sales = Customers_df.loc[Customers_df['Total_Sales'].idxmax()]

print('The customer who placed the highest number of orders is:')
print(customer_with_most_orders)
print('The customer who generated the highest income is:')
print(customer_with_higest_sales)

The customer who placed the highest number of orders is:
CustomerID     17841.00
NumOrder        3999.00
Total_Sales     9824.19
Name: 2335, dtype: float64
The customer who generated the highest income is:
CustomerID     14096.00
NumOrder        1472.00
Total_Sales    19752.57
Name: 716, dtype: float64

## Sort the customers according to the income they generated

In [130]:
Customers_df.sort_values('Total_Sales', ascending=False)

      CustomerID  NumOrder  Total_Sales
716      14096.0      1472    19752.570
202      12744.0         8    12223.900
2335     17841.0      3999     9824.190
1052     14911.0       164     8823.040
83       12536.0         6     8381.920
...          ...       ...          ...
535      13588.0         1        0.390
787      14298.0         1        0.190
1594     16198.0         1        0.001
660      13952.0         1        0.001
1354     15618.0         1        0.001

[2546 rows x 3 columns]

In [131]:
# Comment
# The list of top-paying customers provides valuable insights for tailoring special offers or discounts aimed at enriching their experience and ensuring their loyalty.

# Q4:  In which month the income was higher?

## Extract date and time divisions from the date/time column and store them in separate columns

In [132]:
filtered_df['Date'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.date
filtered_df['Time'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.time
filtered_df['Day'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.day
filtered_df['Month'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.month
filtered_df['Year'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.year
filtered_df['Order_Hour'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.hour

C:\Users\Maryam\AppData\Local\Temp\ipykernel_23268\2993504654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Date'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.date
C:\Users\Maryam\AppData\Local\Temp\ipykernel_23268\2993504654.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Time'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.time
C:\Users\Maryam\AppData\Local\Temp\ipykernel_23268\2993504654.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Day'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.day
C:\Users\Maryam\AppData\Local\Temp\ipykernel_23268\2993504654.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Month'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.month
C:\Users\Maryam\AppData\Local\Temp\ipykernel_23268\2993504654.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Year'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.year
C:\Users\Maryam\AppData\Local\Temp\ipykernel_23268\2993504654.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Order_Hour'] = pd.to_datetime(filtered_df['InvoiceDate']).dt.hour

## Ensure the new columns have been added

In [133]:
filtered_df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'InvoiceNo_numeric',
       'Total_Sales', 'Date', 'Time', 'Day', 'Month', 'Year', 'Order_Hour'],
      dtype='object')

## Ensure the data are extracted properly

In [134]:
filtered_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceNo_numeric,Total_Sales,Date,Time,Day,Month,Year,Order_Hour
11028,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,4/15/2011 9:27,0.001,13952.0,United Kingdom,550193.0,0.001,2011-04-15,09:27:00,15,4,2011,9
11029,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,7/26/2011 10:13,0.001,15618.0,United Kingdom,561226.0,0.001,2011-07-26,10:13:00,26,7,2011,10
11030,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,9/25/2011 14:58,0.001,16198.0,United Kingdom,568200.0,0.001,2011-09-25,14:58:00,25,9,2011,14
11031,568375,BANK CHARGES,Bank Charges,1,9/26/2011 17:01,0.001,13405.0,United Kingdom,568375.0,0.001,2011-09-26,17:01:00,26,9,2011,17
11033,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,11/25/2011 11:41,0.060,12748.0,United Kingdom,578757.0,0.060,2011-11-25,11:41:00,25,11,2011,11

## Extracted the new columns with the sales data to a new dataframe called time_date

In [135]:
time_date_df = filtered_df[['Total_Sales', 'Day', 'Month', 'Year', 'Order_Hour']]

## Sort the months according to the amount of income in each

In [136]:
# Since there are few data from 2010 for the month of December only. The analysis will be based on 2011 data where data is available for the entire year. 
total_sales_by_month = time_date_df[time_date_df['Year']==2011]
total_sales_by_month = total_sales_by_month.groupby(['Month', 'Year'])['Total_Sales'].sum()
sorted_sales_by_month = total_sales_by_month.sort_values(ascending=False)
print(sorted_sales_by_month)

Month  Year
10     2011    57029.230
11     2011    56182.070
5      2011    32067.920
9      2011    28082.112
4      2011    27835.271
3      2011    25624.280
6      2011    21913.390
7      2011    19306.151
8      2011    19267.980
1      2011    15492.200
2      2011    14772.600
12     2011    14272.380
Name: Total_Sales, dtype: float64

# Q5: In which day of the month people tend to buy more?

In [137]:
total_sales_by_day = time_date_df[time_date_df['Year']==2011]
total_sales_by_day = total_sales_by_day.groupby('Day' )['Total_Sales'].sum()
sorted_sales_by_day = total_sales_by_day.sort_values(ascending=False)
print(sorted_sales_by_day)

Day
3     18775.050
27    17785.190
4     17004.070
23    15317.720
10    13913.820
28    13340.370
11    13278.430
5     12909.560
6     12059.350
14    11847.230
19    11536.340
8     11443.010
17    10869.230
20    10810.730
21    10535.710
15    10270.831
7     10028.820
1     10027.000
24     9897.450
18     9447.170
13     8965.650
22     8076.020
2      7966.310
26     7590.462
25     7571.661
9      7566.580
16     7412.990
12     7181.300
30     6962.250
31     5879.610
29     5575.670
Name: Total_Sales, dtype: float64

# Q6: What is the best time to adverstise for the products during the day?

In [138]:
# to answer this question, we need to find in which hour of the day customers generate more income
total_sales_by_hour=time_date_df.groupby('Order_Hour')['Total_Sales'].sum()
sorted_sales_by_hours = total_sales_by_hour.sort_values(ascending=False)
print(sorted_sales_by_hours)

Order_Hour
13    67208.850
12    57156.510
14    56734.951
11    43526.360
15    42448.620
16    23647.240
10    22791.361
17    15613.641
9     11977.931
19     4399.810
8      2919.950
18     2435.570
20      712.100
7       192.050
Name: Total_Sales, dtype: float64

# Q7: Which products are bought together?

## Create a new column to store the products that are bought together

In [139]:
filtered_df = filtered_df[filtered_df['InvoiceNo_numeric'].duplicated(keep=False)]
filtered_df.sort_values(by='InvoiceNo_numeric', ascending=True, key=lambda x: x.astype(str), inplace=True)

filtered_df['Grouped'] = filtered_df.groupby('InvoiceNo_numeric')['Description'].transform(lambda x: ','.join(x))

filtered_df = filtered_df[['InvoiceNo_numeric', 'Grouped']].drop_duplicates()

filtered_df.head(20)

        InvoiceNo_numeric                                            Grouped
24852            536381.0  FELT EGG COSY CHICKEN,TEA TIME DES TEA COSY,FE...
189735           536401.0  I'M ON HOLIDAY METAL SIGN,BALLOONS  WRITING SE...
60335            536409.0  HAND WARMER SCOTTY DOG DESIGN,CHILDREN'S SPACE...
29468            536412.0  SCANDINAVIAN REDS RIBBONS,PINK  POLKADOT PLATE...
161920           536415.0  60 CAKE CASES DOLLY GIRL DESIGN,PACK OF 60 MUS...
180216           536446.0  GREEN FERN NOTEBOOK,TRADITIONAL WOODEN SKIPPIN...
47526            536464.0  RIBBON REEL CHRISTMAS PRESENT ,RIBBON REEL SOC...
39248            536488.0  JAM MAKING SET PRINTED,REX CASH+CARRY JUMBO SH...
60351            536520.0  GROW YOUR OWN BASIL IN ENAMEL MUG,RETROSPOT RE...
24864            536522.0  ORANGE SCENTED SET/9 T-LIGHTS,CINAMMON SET OF ...
60357            536525.0  FELTCRAFT 6 FLOWER FRIENDS,12 PENCIL SMALL TUB...
29500            536528.0  TRADITIONAL CHRISTMAS RIBBONS,SCANDINAVIAN RED...
39253            536530.0  WASHROOM METAL SIGN,WELCOME  WOODEN BLOCK LETT...
132292           536538.0  DOORMAT SPOTTY HOME SWEET HOME,DOORMAT FANCY F...
166872           536551.0  HANGING HEART ZINC T-LIGHT HOLDER,LUNCH BOX I ...
39254            536557.0  POLYESTER FILLER PAD 40x40cm,FRENCH BLUE METAL...
139303           536569.0  3 HOOK PHOTO SHELF ANTIQUE WHITE,SWISS CHALET ...
140807           536590.0  TOOL BOX SOFT TOY ,CLASSIC METAL BIRDCAGE PLAN...
12756            536591.0  LADLE LOVE HEART PINK,RIBBON REEL FLORA + FAUN...
64085            536595.0  SAVE THE PLANET COTTON TOTE BAG,HOME SWEET HOM...

## Iterate over the new column to find the list of the products bought together

In [140]:
count = Counter()

for row in filtered_df['Grouped']:
    row_list = sorted(row.split(','))
    count.update(Counter(combinations(row_list, 2)))

for key, value in count.most_common (20):
    print(key, value)

(' BACK DOOR ', 'KEY FOB ') 255
(' SHED', 'KEY FOB ') 237
('KEY FOB ', 'KEY FOB ') 222
(' FRONT  DOOR ', 'KEY FOB ') 178
('LUNCH BAG  BLACK SKULL.', 'LUNCH BAG SPACEBOY DESIGN ') 145
('GARDENERS KNEELING PAD CUP OF TEA ', 'GARDENERS KNEELING PAD KEEP CALM ') 143
('LUNCH BAG PINK POLKADOT', 'LUNCH BAG RED RETROSPOT') 136
('LUNCH BAG  BLACK SKULL.', 'LUNCH BAG RED RETROSPOT') 132
('LUNCH BAG RED RETROSPOT', 'LUNCH BAG SPACEBOY DESIGN ') 131
('LUNCH BAG SPACEBOY DESIGN ', 'LUNCH BAG SUKI DESIGN ') 129
('LUNCH BAG SPACEBOY DESIGN ', 'LUNCH BAG WOODLAND') 125
('LUNCH BAG  BLACK SKULL.', 'LUNCH BAG SUKI DESIGN ') 124
('LUNCH BAG  BLACK SKULL.', 'LUNCH BAG PINK POLKADOT') 123
('DOLLY GIRL LUNCH BOX', 'SPACEBOY LUNCH BOX ') 122
('LUNCH BAG CARS BLUE', 'LUNCH BAG SPACEBOY DESIGN ') 117
('LUNCH BAG RED RETROSPOT', 'LUNCH BAG WOODLAND') 115
("POPPY'S PLAYHOUSE BEDROOM ", "POPPY'S PLAYHOUSE KITCHEN") 113
('CUPCAKE SINGLE HOOK', 'METAL SIGN') 113
('LUNCH BAG PINK POLKADOT', 'LUNCH BAG WOODLAND') 109
('LUNCH BAG RED RETROSPOT', 'LUNCH BAG SUKI DESIGN ') 107

In [141]:
# Comment
## These results are helpful for deciding which products to be included in the bundle deals.